* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(to bottom right, #e8f2f5, #cce6f6);
    height: 100vh;
}


header {
  background: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  color: #0b2fcc;
}

.logo span {
  color: #5eb47c; /* Verde do "Conecta" */
}
/* Agrupamento do menu e botões */
.menu-area {
  display: flex;
  align-items: center;
  gap: 20px; /* Espaço entre nav e buttons, pode ajustar para mais ou menos */
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.buttons {
  display: flex;
  gap: 10px;
}

/* Botões */
.btn {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.btn-entrar {
  background: #fff;
  border: 1px solid #0b2fcc;
  color: #0b2fcc;
}

.btn-cadastrar {
  background: #5eb47c;
  color: #fff;
}

.hero {
  max-width: 800px;
  margin: 60px auto;
  padding: 20px;
  text-align: left;
}

/* Formulário central */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.form-container {
    background-color: white;
    padding: 40px 50px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    text-align: center;
    width: 320px;
    
}

.logo-form {
    width: 80px;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
    color: #000;
    letter-spacing: 1px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #000;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-form {
    background-color: #2b3a67;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.btn-form:hover {
    background-color: #1d2a52;
}

.login-link {
    margin-top: 10px;
    font-size: 13px;
}

.login-link a {
    color: #2b3a67;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}
